body {
  background-color: pink;
}
main {
    text-align: center;
}
img:hover {
     width: auto;
    height: auto;
    max-width: none;
    max-height: none;
}
h1{
    text-align: center;
    text-decoration: overline;
    font-color: white;
}
h2{
    text-align: center;
    font-color: white;
}
h3{
    text-align: center;
    font-color: white;
}
h4{
    text-align: center;
    font-color: white;
}
