body {
  background-color: pink;
}
main {
    text-align: center;
}
img {
    width: 100%;
    height: 100%;
}
h1{
    text-align: center;
    text-decoration: overline;
    font-color: white;
}
h2{
    text-align: center;
    font-color: white;
}
h3{
    text-align: center;
    font-color: white;
}
h4{
    text-align: center;
    font-color: white;
}
